- @content_class = "limit-container-width" unless fluid_layout
- add_to_breadcrumbs _("Security Dashboard"), project_security_dashboard_index_path(@project)
- breadcrumb_title @vulnerability.id
- page_title @vulnerability.title
- page_description @vulnerability.description

#js-vulnerability-header{ data: vulnerability_data(@vulnerability, @pipeline) }
#js-vulnerability-details{ data: vulnerability_data(@vulnerability, @pipeline) }
#js-vulnerability-footer{ data: vulnerability_data(@vulnerability, @pipeline) }
